@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


@font-face {
    font-family: 'GangwonEdu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GangwonEdu';
}

thead {
    background-color: #0894d4;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Hanna';
}

#wrap {
    width: 490px;
    text-align :center;
    margin: 0 auto 0 auto;
}
